.collection-item {
    width: 28%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: whitesmoke;

    &:hover{
        transform: scale(1.05);
    }
    .image {
      margin-top: 5%;
      width: 90%;
      height: 80%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 85%;
        margin-bottom: 15px;
        margin-left: 17px;
        
      }
  
      .price {
        width: 10%;
        font-weight: bold;
      }
    }
  }
  